*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
:root{
  --wrapperheight:100px;
  --headingFont:"Gurajada", sans-serif;
  --commonPadding:5% 0;
  --menuFont:"Inter", sans-serif;
  --primaryColor:#7ad210;
  --blackColor:#000;
  --whiteColor:#fff;
  --brownColor:#6c3520;
  --paragraphFont:"Poppins", sans-serif;
}

.custom_container {
  max-width: 75%;
  margin: 0 auto;
}
.common-heading{
  font-family: var(--headingFont);
  color: var(--primaryColor);
  font-size: 65px;
  font-weight: 400;
  position: relative;
}
.common-paragraph{
  font-size: 16px;
  font-family: var(--paragraphFont);
  line-height: 35px;
  margin-bottom: 0;
}
/**************************Navigation CSS**************************/
.main-top{
  width: 100%;
  height: 100vh;
}
.hero-anime{
  height: var(--wrapperheight);
  width: 100%;
}
.top-nav{
  width: 100%;
}
.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 10px 0;
  box-shadow: 0 10px 30px 0 rgba(47, 36, 131, 0.12);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.start-header.scroll-on {
  box-shadow: 0 10px 30px 0 rgba(47, 36, 131, 0.12);
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 85px;
}
.start-header.scroll-on .navbar-brand img {
  width: 80%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: var(--wrapperheight);
}

.navbar {
  padding: 0;
}

.navbar-brand {
  width: 11%;
  padding: 0;
}
.navbar-brand img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  border-color: transparent;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  transform: translateY(1px) rotate(-45deg);
}

.nav-link {
  color: #000 !important;
  font-weight: 500;
  transition: all 200ms linear;
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
  font-family: var(--menuFont);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}
.nav-link.active {
  color: #000 !important;
  font-weight: 700;
}
.nav-link.active:after {
  opacity: 1;
  bottom: 0px;
}
.nav-link:hover {
  color: #000 !important;
}
.nav-link:hover:after {
  bottom: 0;
  opacity: 1;
}
.nav-link:after {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color:var(--primaryColor);
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}
.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
  transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: rgba(129, 103, 169, 0.6);
}
/*******************Home Carousel CSS*********************/
#hero-slider {
  position: relative;
}

@media (min-height: 700px) {
  #hero-slider {
    height: calc(100% - var(--wrapperheight));
 }
}
.owl-carousel {
  display: none;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  height: 100%;
}
.owl-stage-outer {
  height: 100%;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  height: 100%;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* .owl-item {
  background-image: url('https://2.bp.blogspot.com/-5VB61zkRvTg/Vq3jyfoJGYI/AAAAAAAAAaU/S3Yvl_OuXa8/s1600/loadingfinal1.gif');
  background-repeat: no-repeat;
  background-position: center;
} */
.owl-lazy {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60%;
}
@media (min-height: 700px) {
  .owl-lazy {
    height: 100%;
    padding: 0;
 }
}
.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  color: white;
}
.owl-prev:hover, .owl-next:hover {
  background-color: orange;
}
.owl-next {
  right: 8px;
  left: auto;
}
#hero-content {
  position: absolute;
  z-index: 10;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  border-radius: 8px;
  width: 100%;
}
#hero-content h1 {
  font-size: 105px;
  font-family: var(--headingFont);
  margin: 0;
  color: var(--brownColor);
  line-height: 110px;
  font-weight: 500;
  letter-spacing: -1px;
}
#hero-content h2 {
  font-size: 28px;
  font-family: var(--paragraphFont);
  margin: 0;
  color: var(--blackColor);
  font-weight: 400;
  line-height: 42px;
  position: relative;
}
#hero-content h2::after{
  position: absolute;
  content: "";
  width: 8%;
  height: 4px;
  background-color: var(--primaryColor);
  left: 0;
  bottom: -26px;
}
.owl-dots {
  position: absolute;
  bottom: 16px;
  z-index: 12;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.owl-dot {
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  width: 14px;
  height: 14px;
  transition: all 200ms ease-in-out;
}
.owl-dot:not(:first-child) {
  margin-left: 10px;
}
.owl-dot.active {
  background-color: #7ad210;
}
/************************About Us CSS**********************/
.about-us{
  width: 100%;
  padding-top: 4%;
}
.about-us h1::before{
  position: absolute;
  content: "";
  width: 12%;
  height: 4px;
  background-color: var(--primaryColor);
  left: 0;
  bottom: 2px;
}
.about-us .about-right-content{
  padding-right: 10%;
}
.about-us .about-right-content h2{
  font-size: 22px;
  font-family: var(--menuFont);
  font-weight: 600;
  color: #6d3521;
  text-transform: uppercase;
  line-height: 40px;
}

.about-us .about-youtube-video{
  width: 100%;
  height: 100%;
  position: relative;
}
.about-us .about-youtube-video img{
  width: 100%;
}
.video-bg {
  position: relative;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.video-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.video-bg iframe {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 60vw;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  font-size: 2.5vw;
}

/*********************Our Products CSS************************/
.our-products{
  width: 100%;
  background-image: url("../img/our-products-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  padding: var(--commonPadding);
}
/* .our-products h2{
  font-size: 45px;
  font-family: var(--headingFont);
  font-weight: 600;
  color: #003100;
} */
.our-products h1::before {
  position: absolute;
  content: "";
  width: 18%;
  height: 4px;
  background-color: var(--primaryColor);
  left: 0;
  bottom: 2px;
}
.home-products-slider .item .img-div{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.home-products-slider .item .img-div img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.5s ease;
} 

.home-products-slider .item  .item-content{
  text-align: left;
  padding: 25px;
  background-color: #ffffffab;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.home-products-slider .item{
  box-shadow: rgb(0 0 0 / 0%) 0px 10px 20px, rgb(0 0 0 / 0%) 0px 6px 6px;
  cursor: pointer;
}
.home-products-slider .item:hover .img-div img{
  filter: grayscale(100%);
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.home-products-slider .item  .item-content h2{
  font-family: var(--paragraphFont);
  font-size: 25px;
  color: var(--primaryColor);
  font-weight: 600;
}

.home-products-slider .item  .item-content p{
line-height: 30px;
}
.know-more{
  padding: 7px 10px;
  background-color: var(--primaryColor);
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.5s ease;
}
.know-more:hover{
  text-decoration: none;
  background-color: #6d3521;
  color: #fff;
  transition: all 0.5s ease;
}
.our-products-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  grid-gap: 2em;
  width: 100%;
}

/*********************Contact Us CSS***********************/
.contact-us{
  width: 100%;
  background-color: #f2f2f2;
}

.contact-us h1::before {
  position: absolute;
  content: "";
  width: 10%;
  height: 4px;
  background-color: var(--primaryColor);
  left: 0;
  bottom: 2px;
}
.mt-55{
  margin-top: 55px;
}
.main-address-div .nav-tabs .nav-item.show .nav-link{
  font-size: 16px;
}
.address-box{
  padding-left: 27%;
  padding-top: 9%;
  padding-bottom: 9%;
  background-color: #eae9e9;
  -webkit-box-shadow: inset -5px 0px 5px 2px rgba(230, 230, 230, 1);
    -moz-box-shadow: inset -5px 0px 5px 2px rgba(230, 230, 230, 1);
    box-shadow: inset -5px 0px 5px 2px rgba(230, 230, 230, 1);
    width: 100%;
    height: 100%;
}
.main-address-div .nav-tabs .nav-item.show .nav-link, .main-address-div .nav-tabs .nav-link.active{
background-color: transparent;
border-color: transparent;
color: var(--brownColor) !important;
font-size: 16px;
font-family: var(--paragraphFont);
}
.main-address-div .nav-tabs .nav-link.active::after{
  opacity: 0;
}
.main-address-div .nav-tabs .nav-link:hover::after{
  opacity: 0;
}
.main-address-div .nav-tabs .nav-link{
  border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
}
.contact-us .address-box .main-address-div .nav-item::after{
  position: absolute;
  content: "";
  width: 2px;
  height: 18px;
  background-color: var(--brownColor);
  right: -12px;
  top: 8px;
}
.contact-us .address-box .main-address-div .nav-item:nth-last-child(1)::after{
  display: none;
}
.main-address-div .nav-tabs
{
  border-bottom: 0;
  align-items: center;
}
.main-address-div .nav-tabs .nav-link:focus, .main-address-div .nav-tabs .nav-link:hover{
  border-bottom: 0;
}
.contact-us .address-box .main-address-div .nav-item {
  border: none;
  border-radius: 0;
  position: relative;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  margin-right: 23px;
  position: relative;
  margin-bottom: 0;
}
.contact-us .address-box .main-address-div .nav-item:nth-child(1){
  margin-left: 0;
}
.main-address-div .tab-content span{
  color: var(--primaryColor);
  font-family: var(--menuFont);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}
.main-address-div .tab-content p a{
  color: #000;
}
.contact-us-form{
    padding-left: 23%;
    padding-top: 9%;
    padding-bottom: 9%;
    padding-right: 25%;
}
.contact-us .contact-form form {
  margin-top: 75px;
}
.contact-us .contact-form label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--paragraphFont);
  position: relative;
  color: var(--primaryColor);
}
.contact-us .contact-form input[type="text"],input[type="email"],input[type="number"] {
  border-radius: 0;
  border: none;
  outline: none;
  transition: all 0.5s;
  background: transparent;
  border: 1px solid #b1b1b1;
  color: #000;
  font-size: 16px;
  height:45px;
  font-family: var(--menuFont);
}
.contact-us .contact-form .form-control,textarea:focus{
  box-shadow: none;
  outline: none;
  background-color:transparent;
  border-color: #b1b1b1;
}
.contact-us .contact-form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  background:transparent;
}
.contact-us .contact-form .form_submit {
  background: var(--blackColor);
  color: var(--primaryColor);
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: var(--paragraphFont);
  border-radius: 5px;
}
.contact-us .contact-form .form_submit:hover{
  background:#6d3521;
  transition: all 0.5s ease;
}
.appointment-form .form_submit_career:hover{
  background: #6d3521;
  transition: all 0.5s ease;
}
.contact-us .contact-form input[type=number]::-webkit-inner-spin-button, 
.contact-us .contact-form input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

/************************Our Projects CSS*************************/
.our-projects{
  width: 100%;
  padding: var(--commonPadding);
}
.our-projects h1::before{
  position: absolute;
  content: "";
  width: 7%;
  height: 4px;
  background-color: var(--primaryColor);
  left: 0;
  bottom: 2px;
}

/*******************************Home Banner Slick Carousel CSS************************************/
.slide {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}
.slide .item {
  position: relative;
  height: 100%;
}
.slide .item::before {
  display: block;
  padding-top: 39%;
  content: "";
}
.slide .item .image {
  position: relative;
  overflow: hidden;
}
.slide .item img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
}
.slide > .slick-list,
.slide > .slick-list > .slick-track,
.slide > .slick-list > .slick-track > .slick-slide > div {
  position: relative;
  height: 100%;
}
.slide-animation{
    animation: fadezoom 8s 0s forwards;
}
@keyframes fadezoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
#lightgallery{
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  grid-gap: 1.5em;
}
#lightgallery a img{
  width: 100%;
}
.contact-us .address-box .main-address-div .nav-item::after:nth-last-child(1){
  display:none;
}
/**********************Enquiry Buttons CSS************************/
#appointment-shape{
  width: 200px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  transform: rotate(-90deg);
  bottom: 0px;
  right: -80px;
  text-align: center;
  top: 435px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.enquiry-strip p{
  color: var(--blackColor);
  text-align: center;
  font-size: 17px;
  display: inline-block;
  margin-top: 7px;
  font-family: var(--paragraphFont);
  font-weight: 500;
}

  .appointment-triangle {
    width: 0;
    height: 0;
    border-top: 40px solid #fff;
    border-right: 40px solid transparent;
    position:absolute;
    top:0px;
    transform:rotate(180deg);
    left:-40px;
  }

#download-shape {
  width: 200px;
  height: 40px;
  background-color: #7cd313;
  position: absolute;
  transform: rotate(-90deg);
  top: 235px;
  right: -80px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#download-shape p a{color: #000;text-decoration:none;}

  .download-triangle {
    width: 0;
    height: 0;
    border-top: 40px solid #7cd313;
    border-right: 40px solid transparent;
    position:absolute;
    right:-40px;
    bottom:0px;
    transform:rotate(-90deg);
  }
  .enquiry-strip{
  position: fixed;
  top: 17%;
  right: 0;
  transform: translate(-50%, 0);
  left: 50%;
  width: 100%;
  z-index: 1;
  }
  .enquiry-strip i{
      font-size: 17px;
      color: var(--brownColor);
      margin-right: 5px;
  }
  .enquiry-strip a{
    color: var(--blackColor);
    text-decoration: none;
  }
/*******************Footer CSS*******************/
footer{
  background-color: #000;
  padding: 3% 0;
}
.footer-list{
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-list li{
  display: inline-block;

}
.footer-list li a{
  color: #fff;
  text-decoration: none;
  font-family: var(--menuFont);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 20px;
}
.follow-us-strip ul{
  margin: 0;
  padding: 0;
}
.follow-us-strip ul li{
  list-style: none;
  display: inline-block;
}
.follow-us-strip  h2{
  font-family: var(--menuFont);
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.follow-us-strip ul li a{
  width: 45px;
  height: 45px;
  background-color: #0b8542;
  border-radius: 50px;
  display: flex;
  color: #fff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}















.footer-wrapper01 {
  color: var(--whiteColor);
  position: relative;

}

.f-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  z-index: 3;
  padding: 15px 0 15px;
  font-size: 14px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
}

@media (max-width: 1024.98px) {
  .f-holder {
      padding:20px 0 19px
  }
}

@media (max-width: 767.98px) {
  .f-holder {
      padding:18px 0 19px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center
  }

  .f-holder>* {
      width: 100%;
      text-align: center
  }
}

.f-logo {
  line-height: 1;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  display: inline-block;
  position: relative;
  top: 1px;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-size: 30px;
}
.f-logo img{
  width: 30%;
}


.f-logo .tt-icon {
  position: absolute;
  top: -1px;
  left: -9px;
  font-size: 25px;
  line-height: 1;
  color: #52b765;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.f-logo:hover {
  color: #fff
}

.f-title {
  font-size: 19px;
  line-height: 1;
  color: #2f2483;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media (max-width: 1024.98px) {
  .f-title {
      font-size:16px;
      padding: 0 0 11px 0
  }
}

.f-text {
  margin-top: 25px;
  font-family: "Nunito Sans", sans-serif;
  margin-right: 40px;
  font-size: 17px;
}
.f-info{
  font-family: "Nunito Sans", sans-serif;
}
@media (max-width: 1024.98px) {
  .f-text {
      margin-top:10px
  }
}

.f-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -6px;
  margin-top: 25px
}

.f-social li {
  margin-left: 6px;
  margin-top: 6px
}

.f-social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  line-height: 13px;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background-color: #2f2483;
  -webkit-transition: color .2s linear,background-color .2s linear;
  transition: color .2s linear,background-color .2s linear;
  border-radius: 50%
}
.f-social li a i{
  font-size: 18px;
}
.f-social li a:hover {
  background-color: #2f2483;
  color: #fff
}

@media (max-width: 1024.98px) {
  .f-social {
      margin-top:8px
  }
}

.f-info li {
  position: relative;
  line-height: 32px
}
.f-info li i{
  font-size: 20px;
  margin-right: 5px;
  color: #2f2483;
}
.f-info li [class^=icons-] {
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 14px;
  color: #52b765
}

.f-info li a {
  color: var(--whiteColor);
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  font-size: 17px;
  font-weight: 600;
}

.f-info li a:hover {
  color: #2f2483;
}

@media (max-width: 1199.98px) {
  .f-info li {
      line-height:26px
  }

  .f-info li:not(:first-child) {
      margin-top: 6px
  }

  .f-info li [class^=icons-] {
      font-size: 12px
  }
}

.f-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.f-link li {
  margin-left: 5px
}

.f-link li a {
  color: #212529;
  position: relative
}

.f-link li a:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 1px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #2f2483;
  -webkit-transition: width .2s linear;
  transition: width .2s linear
}

.f-link li a:hover {
  color: #2f2483;
}

.f-link li a:hover:before {
  width: 100%
}

@media (max-width: 767.98px) {
  .f-link {
      -webkit-box-pack:center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 5px
  }

  .f-link li {
      margin: 0;
      text-align: center;
      width: 100%
  }
}


